@import url(variables.css);
html,
body,
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 62.5%;
}
html,
body,
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 62.5%;
}
/* @font-face {
  src: url(fonts/CookieRun\ Black.ttf);
  font-family: Cookie-Run;
}
 */
body {
  background-color: var(--dark-blue);
}

.heading {
  font-family: Cookie-Run;
  margin: 70px;
  margin-top: 300px;
  padding: 20px;
  text-align: center;
  background-color: var(--blue);
  border: 3px solid var(--white);
}
.everything {
  font-family: Cookie-Run;
  font-size: 30px;
  color: white;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  margin: 15px;
}

.Category {
  background-color: var(--blue);
  border: 4px solid rgb(78, 49, 133);
  border-radius: 20%;
  width: 20%;
  height: 400px;
  margin-top: 10px;
  box-shadow: 10px 5px 5px rgb(38, 0, 56);
  -webkit-transition: all 0.3s;
}
h2 {
  margin-top: 15px;
  font-size: 3rem;
}

.card {
  background-color: var(--blue);
}
.warm {
  --primary: var(--dark-red);
  --secondary: var(--dark-red);
}
.cool {
  --primary: var(--light-blue);
  --secondary: var(--dark-blue);
}
