@import url(variables.css);
html,
body,
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 62.5%;
}
html,
body,
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 62.5%;
}
/* @font-face {
  src: url(fonts/CookieRun\ Black.ttf);
  font-family: Cookie-Run;
}
 */
body {
  background-color: var(--background);
}

#top {
  font-family: Cookie-Run;
  margin: 70px;
  margin-top: 30px;
  padding: 20px;
  text-align: center;
}
#everything {
  font-family: Cookie-Run;
  font-size: 30px;
  color: var(--green);
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  margin: 15px;
}

.images {
  height: 280px;
}

.Category {
  width: 20%;
  height: 450px;
  margin: 30px;
  margin-top: 10px;
  -webkit-transition: all 0.3s;
}
h2 {
  margin-top: 15px;
  font-size: 3rem;
}

.dropDown {
  text-align: center;
  width: 280px;
  height: 60px;
  font-size: 20px;
  margin: 0px 50px 20px;
  padding: 10px;
}
#lightDark {
  background-image: url("https://4.bp.blogspot.com/-a1FOjrf3XOs/TxS6qK-rfXI/AAAAAAAAAHc/6wtQKHXEPBU/s1600/11-27-11+4-suns-k+AM+011.jpg");
  background-color: var(--dark);
  border-radius: 50%;
  background-size: cover;
  width: 200px;
  height: 200px;
  left: 60px;
  position: fixed;
  transition: 0.5s;
}
#lightDark:hover {
  background-color: rgb(96, 89, 109);
  width: 205px;
  height: 205px;
}
#choosingCookies {
  text-align: center;
}
.card {
  background-color: var(--card);
}
.warm {
  background-color: var(--dark-brown);
}
.cards {
  box-shadow: 10px 5px 5px var(--darker-brown);
  color: var(--dark-brown);
  background-color: var(--blue);
  border: 4px solid var(--border);
}
.cool {
  background-color: var(--background);
  --bacco: var(--dark-blue);
  --border: var(--dark-green);
}
.coolCards {
  box-shadow: 10px 5px 5px var(--darker-blue);
  color: var(--details);
  background-color: var(--card);
  border: 4px solid var(--details);
}
